<div class="clear"></div>
    <footer
    class="footer row p-2 justify-content-between align-items-center">
    <div class="social-media col-auto">
        <span class="title">Contáctanos</span>
        <div class="icons-container">
            <img src="assets/icons/instagram.svg"
                alt="Instagram" />
            <img src="assets/icons/whatsapp.svg" alt="Whatsapp" />
        </div>
    </div>
    <div class="brand-description col-auto">
        <img src="assets/img/second-icon.png" alt="CIT icon">
        <div class="copyright">
            <img src="assets/icons/copyright.svg" alt="copyright" />
            <span>All rights reserved</span>
        </div>
        <span class="brand-name">
            Conectividad Intermediaria de Transporte
        </span>
    </div>
</footer>
<!-- </body>
</html> -->